<?xml version='1.0' encoding='UTF-8'?>    
<!DOCTYPE hibernate-configuration PUBLIC    
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"    
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">    
     
<hibernate-configuration>    
    
    <session-factory>    
        <property name="hbm2ddl.auto">update</property>    
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>    
        <property name="connection.url">jdbc:postgresql://localhost:5433/employee_db</property>   
        <property name="default_schema">employee_schema</property> 
        <property name="connection.username">postgres</property>    
        <property name="connection.password">postgres</property>    
        <property name="connection.driver_class">org.postgresql.Driver</property> 
      <property name="show_sql">true</property>    
        
   <mapping class="com.shruti.hibernate.entity.Employee"/>
   <mapping class="com.shruti.hibernate.entity.Address"/>
   <mapping class="com.shruti.hibernate.entity.EmployeeAssets"/>
    <mapping class="com.shruti.hibernate.entity.EmployeeSkills"/>
     <mapping class="com.shruti.hibernate.entity.EmployeeAccount"/>
<mapping class="com.shruti.hibernate.entity.EmployeeProjects"/>
    </session-factory>    
    
</hibernate-configuration>   